* { 
    box-sizing: border-box;
}

body { 
    background-color: #f3b442;

}

#outerOuterContainer { 
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.screenDigits { 

}
.button:active { 
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.button { 
    display:flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px;
    padding-left: 15px; 
    padding-right: 15px;
    margin:7px;
    width: 50px;
    font-size: 1.5em;
    background-color: white;
    border-radius: 7px; 
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: solid 1px;
}
.calculatorHeader { 
    display:flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

#calculatorScreen h2 { 
    margin:0;
    flex: 0;
    word-break: break-all;
}

#outerCalculatorScreen { 
    width: 250px; 
    border: 1.7px black inset;
    background-color: white;
    min-height: 50px;
    margin-bottom: 15px;
}

.buttonTroll { 
    display:flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px;
    padding-left: 15px; 
    padding-right: 15px;
    margin:7px;
    width: 50px;
    font-size: 1.5em;
    background-color: white;
    border-radius: 7px; 
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: solid 1px;
}

a { 
 text-decoration: none;
}

#calculatorScreen { 
    display:inline-block;
    border-radius: 7px;
    margin-left: 5px;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    padding-top: 10px;
    padding-bottom: 5px;
}
.buttonRow { 
    display:flex; 
    justify-content: center; 
}
#outerContainer {
    display:flex;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: white solid 2px;
    background-color: white;
    align-items: center; 
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right:5px; 
}

.header { 

}

